<div id="inputs">

<%= form_for @ditty do |f| %>

  <%= f.text_area :player %>
  <%= f.text_area :body %>
  <%= f.submit %>

  <% end %>

	<div>
		<span id="message"></span>
	</div>
</div>

<div class="players">
</div>