<div id="linkInput" style="display:none;"><%= @ditty.player %></div>
<h2><%= @ditty.body %></h2>
<p>by <%# @ditty.user.username %></p>


<!-- <a id="submit" >click</a> -->
<!-- 
<div>
	<span id="message"></span>
</div> -->


<div class="players">
</div>